.code
  %p
  = code.id
  = code.name
  %input{id: "#{code.id}", readonly: "readonly", type: "text", value: "#{code.program}"}/
  %button{onclick: "copyToClipboard(#{code.id})"} Copy code

-# %input#copyTarget{:readonly => "readonly", :type => "text", :value => "コピー対象の文言"}/
-# %button{:onclick => "copyToClipboard()"} Copy code

-# .message{data: {message_id: "#{message.id}"}}
-#   .upper-info
-#     .upper-info__user
-#       = message.user.name
-#     .upper-info__date
-#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
-#   .meesage__text
-#     - if message.content.present?
-#       %p.meesage__text
-#         = message.content
-#     = image_tag message.image, class: 'lower-message__image' if message.image.present?
